# Ambiente virtual
.venv/
venv/

# Arquivos de configuração de ambiente
.env

# Cache e arquivos temporários
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de dados local (se existir)
db.sqlite3

# Arquivos de log
debug.log

# Arquivos de documentação
README.md

# Outros arquivos do VSCode
.vscode/
